.logo {
	margin-bottom: -50px;
}

.footer {
        margin-top:50px;
        font-size: small;
        text-align: center;
        width:100%;
}

body {
        padding-top:120px;
	background: black;
}

