.logo {
	margin-bottom: -50px;
}

.footer {
        margin-top:50px;
        font-size: small;
        text-align: center;
        width:100%;
}

body {
        padding-top:120px;
	background: black;
}



.unreadNotification {
	background:red;
	border-radius:5px;
}

.popover {
	background-color:black;
	max-height:200px;
	overflow:auto;
}

#notificationList {
	list-style:none;
	padding-left:0;
}


#notificationList li {
	margin: 2px;
}

#notificationList li a {
	color: white;
}

