.mycomment {
	background-color:#999999;
	margin-bottom:5px;
}

.btn-sm {
	margin-top:4px;
}
.card {
	max-width: 800px;
	margin: auto;
	padding: 10px;
	margin-bottom: 50px;
}

.coins {
	text-align:right;
	float:right;
	margin:0;
}

.more {
	float:right;
}

.card-text {
	margin-top: 5px;
}

.card-body {
	border-top-style:solid;


}

.commentbox {
	width: 100%;
}


.post{
        border-width: 10px !important;
}

li {
	color:white;
	list-style: none;
}

.editorial {
	background-color:#9146FF;
	margin-bottom:5px;
}

.card-header{
	color:white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black#;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9146FF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.gameToggle{
	color:white;
	border:white;
	margin:2px;
	padding:2px;
}
