hr {
 	border:5px solid white;
	border-radius: 2px; 
}

.card {
	margin: 10px;
	width: 300px;
	height: 300px;
	display:inline-block;
}

.card-img-top {
	text-align:center;
	height: 297px;
	object-fit: cover;
}

.border {
	border-width: 5px !important;
}
