.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

.ui-front {
    z-index: 9999999 !important;
}

hr {
	border-radius: 2px; 
	border-style: groove;
	border-color: white;
}

.card {
	margin: 10px;
	width: 250px;
	height: 250px;
	display:inline-block;
}

.card-img-top {
	text-align:center;
	height: 247px;
	object-fit: cover;
}

.border {
	border-width: 5px !important;
}

#completedGames {
	border-left: 10px solid #00FFFF;
	padding:5px;
	margin:10px;
	background-color:lightgrey;
	border-radius:0 5px 5px 0;
}
#completedGames ul {
	list-style:none;
	padding:0;
	margin-left:0;
}

#completedGames ul li:before {
	content:' ✓ ';
	left: 0;
	width: 1em;
	height: 1em;
	color:white;
}

.overlay {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    padding: 5px 5px;
    font-size: 20px;
    font-family: Helvetica;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.3);
    z-index: 5;
}

#completedGameButton {
	margin:0 auto;
	display:block;
	width:95%;
}

#emptyComment {
	font-style: italic;
}
