{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='feed.css')}}">
<script src="{{url_for('static', filename='feed.js')}}"></script>
<div class="container">
	<div class="row">
	<div class="col-12">
	{% for post in posts %}
	{% if post.completed == 1 %}
	<div class="card border border-warning post bg-dark {{post.gameNormalized}}" id={{post.id}}>
	{% else %}
	<div class="card {{post.gameNormalized}} bg-dark" id={{post.id}}>
	{% endif %}
			<div class="card-header">
				{% if post.display_name == post.username%}
				<a href="{{url_for('viewProfile',username=post.username)}}">{{post.username}}</a> <i class="fa fa-gamepad"></i> <i>{{post.game}}</i> 
				{% else %}
				{{post.display_name}} <a href="{{url_for('viewProfile',username=post.username)}}">@{{post.username}}</a> <i class="fa fa-gamepad"></i> <i>{{post.game}}</i> 
				{% endif %}
				<div class="coins">{{post.coins}}</i></div>
			</div>
			<a href="{{url_for('viewPost', postid=post.id)}}"><img src="{{post.image}}" class="card-img-top"></a>
			<div class="card-body">
				{% if post.voted %}
				<button class="btn upvoteButton" onclick="upvotePost('{{post.id}}')" style="display:none">+1</button> 
				<button class="btn downvoteButton" onclick="downvotePost('{{post.id}}')">-1</button> 
				{% else %}
				<button class="btn upvoteButton" onclick="upvotePost('{{post.id}}')">+1</button> 
				<button class="btn downvoteButton" onclick="downvotePost('{{post.id}}')" style="display:none">-1</button> 

				{% endif %}
				<button class="btn more"><i class="fa fa-ellipsis-h"></i></button> 
				<ul class="commentsList">
					<li class="editorial">{{post.time}}: {{post.editorial}}</li>
					{% for comment in post.comments %}
					{% if comment.username == screen_name %}
					<li class='mycomment'>
					{% else %}
					<li>
					{% endif %}
					{% if comment.username == screen_name %}
					<button type="button" class="btn btn-sm btn-danger" onclick="deleteComment('{{comment.id}}', this)">-</button>
					{% endif %}
					{% if comment.username == post.username %}
					<i class="fa fa-crown" style='color:yellow'></i>
					{% elif comment.username in following %}
					<i class="fa fa-gem"></i>
					{% endif %}
					<a href="/gamer/{{comment.username}}" style="color:{{comment.color}}">{{comment.display_name}}</a>: {{comment.text}}
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="card-body">
				<input class="commentbox" class="form-control" placeholder="enter comment..."
									       onkeydown= "if (event.keyCode==13) 
									       postComment('{{post.id}}', '{{screen_name}}')"					       
				>
				<button class="btn" onclick="postComment('{{post.id}}', '{{screen_name}}')">post</button>
			</div>
	</div>
	{% endfor %}
	</div>
	<div id="shownGames" class="bg-dark rounded-left col-2 border">
		{% for game in games %}
		<div class="gameToggle border-bottom border-white">
		{{game[0]}}
		<label class="switch">
			<input type="checkbox" checked onchange="toggleGame('{{game[1]}}', this)">
		  <span class="slider"></span>
		</label>
		</div>

		{% endfor %}
	</div>
	</div>
</div>
{% endblock %}
