{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='post.css')}}">
<script src="{{url_for('static', filename='post.js')}}"></script>
        <script type="text/javascript">
                username = "{{screen_name}}";
        </script>
<div class="container-fluid">
	{% if post.username == screen_name %}
	<div>
		<a class='btn btn-primary' href="{{url_for('editPost', postid=post.id)}}" role="button">Edit Post</a>
	</div>
	{% endif %}
	{% if post.completed == 1 %}
	<div class="card border complete border-warning post bg-dark" id={{post.id}}>
	{% else %}
	<div class="card bg-dark post" id={{post.id}}>
	{% endif %}
	                       <div class="card-header">
                                {% if post.display_name == post.username%}
                                <a href="{{url_for('viewProfile',username=post.username)}}">{{post.username}}</a> <i class="fa fa-gamepad"></i> 
				<a href="{{url_for('viewGame',game=post.gameSlug)}}"><i>{{post.game}}</i></a>
                                {% else %}
                                {{post.display_name}} <a href="{{url_for('viewProfile',username=post.username)}}">@{{post.username}}</a> <i class="fa fa-gamepad"></i> 
				<a href="{{url_for('viewGame',game=post.gameSlug)}}"><i>{{post.game}}</i></a>
                                {% endif %}
                                <div class="coins">{{post.coins}}</i></div>
				{% if post.tags|length > 0 %}
                                <div class="tags">&nbsp w/:
                                        {% for tag in post.tags %}
                                        <a href="{{url_for('viewProfile', username=tag)}}" class="badge badge-pill badge-secondary">{{tag}}</a>
                                        {% endfor %}
                                </div>
                                {% endif %}
                        </div>

			<div class='mediaHolder'>

			{% if ('.twitch.tv' in post.image) or ('.youtube.com' in post.image) %}
			<iframe
			    src="{{post.image}}"
			    frameborder="0"
			    scrolling="no"
			    allowfullscreen="true">
			</iframe>
			{% elif ('.mp4' in post.image) %}
			<video controls muted autoplay>
				<source src="{{post.image}}" type="video/mp4">
			</video>
			{% else %}
			<img src="{{post.image}}" class="card-img-top">
			{% endif %}
			</div>
			<div class="card-body">
				{% if screen_name is not none %}
			        {% if post.voted %}
                                <button class="btn upvoteButton" onclick="upvotePost('{{post.id}}')" style="display:none">+1</button>
                                <button class="btn downvoteButton" onclick="downvotePost('{{post.id}}')">-1</button>
                                {% else %}
                                <button class="btn upvoteButton" onclick="upvotePost('{{post.id}}')">+1</button>
                                <button class="btn downvoteButton" onclick="downvotePost('{{post.id}}')" style="display:none">-1</button>

                                {% endif %}
                                {% endif %}

				<button class="btn more"><i class="fa fa-ellipsis-h"></i></button> 
				<ul class="commentsList">
                                        <li class="editorial">{{post.time}}: {{post.editorial}}</li>
                                        {% for comment in post.comments %}
                                        {% if comment.username == screen_name %}
                                        <li class='mycomment'>
                                        {% else %}
                                        <li>
                                        {% endif %}
                                        {% if comment.username == screen_name %}
                                        <button type="button" class="btn btn-sm btn-danger" onclick="deleteComment('{{comment.id}}', this)">-</button>
                                        {% endif %}
                                        {% if comment.username == post.username %}
                                        <i class="fa fa-crown" style='color:yellow'></i>
                                        {% elif comment.username in following %}
                                        <i class="fa fa-gem"></i>
                                        {% endif %}
                                        <a href="/gamer/{{comment.username}}" style="color:{{comment.color}}">{{comment.username}}</a>: {{comment.text}}
                                        </li>
                                        {% endfor %}
                                </ul>

			</div>
			<div class="card-body">
				{% if screen_name is not none %}
			    <input class="commentbox" class="form-control" placeholder="enter comment..."
                                                                               onkeydown= "if (event.keyCode==13)
                                                                               postComment('{{post.id}}', '{{screen_name}}')"
                                >
				<button class="btn" onclick="postComment('{{post.id}}', '{{screen_name}}')">post</button>
				{% endif %}
			</div>
		</div>
</div>
{% endblock %}
