{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
<script src="{{url_for('static', filename='viewProfile.js')}}"></script>
<script type="text/javascript">
	username = "{{screen_name}}";
</script>

<div class="container">
	<div>
		<h2 class="text-light text-center">{{display_name}}
		{% if display_name != username %}
		(@{{username}})
		{% endif %}
		{% if username != myusername %}
			</h2>
			{% if username in following %}
				<button onclick="followUser('{{username}}')" id="followButton" type="button" class="btn btn-primary" style="display:none">follow</button>
				<button onclick="unfollowUser('{{username}}')" id="unfollowButton" type="button" class="btn btn-primary">unfollow</button>
		                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#filterModal">follow by games</button>
			{% else %}
				<button onclick="followUser('{{username}}')" id="followButton" type="button" class="btn btn-primary">follow</button>
				<button onclick="unfollowUser('{{username}}')" id="unfollowButton" type="button" class="btn btn-primary" style="display:none">unfollow</button>
				<button onclick="unfollowUser('{{username}}')" id="unfollowButton" type="button" class="btn btn-primary" style="display:none">unfollow</button>
			{% endif %}
		{% else %}
		<a href="{{url_for('settings')}}"><i class="fa fa-cog" aria-hidden="true"></i></a>
		<a href="{{url_for('logout')}}" class="badge badge-light badge-pill">logout</a>
			 </h2>
		{% endif %}
	</div>
	<div>
		<h5 class="text-light text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#followersModal">followers: {{profile_followers|length}}</button></h3>
		<h5 class="text-light text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#followingModal">following: {{profile_following|length}}</button></h3>

	</div>
	<div>
		<h3 class="text-light">games:</h3>
		{% for game in games %}
			{%if game in filtered %}
				<span class="badge badge-secondary">{{game}}</span>
			{% else %}
				<span class="badge badge-primary">{{game}}</span>
			{% endif %}
		{% endfor %}
		<hr/>
	</div>

	<div class="row" >
		<div class="col">
		{% for post in posts %}
			<div class="card">
				<div class='overlay'>
					<a href="{{url_for('viewPost', postid=post[0])}}"><i class="fa fa-share-square"></i></a>
				</div>
				{% if ('.twitch.tv' in post[1]) or ('.youtube.com' in post[1]) %}
				<iframe class="card-img-top"
				    src="{{post[1]}}"
				    frameborder="0"
				    scrolling="no"
				    allowfullscreen="true">
				</iframe>
				{% elif ('.mp4' in post[1]) %}
					<video controls muted autoplay class="card-img-top">
					<source src="{{post[1]}}" type="video/mp4">
					</video>
				{%else %}
					{% if post[2]==1 %}
					<img src="{{post[1]}}" class="card-img-top mx-auto border border-warning">
					{% else %}
					<img src="{{post[1]}}" class="card-img-top mx-auto">
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
		</div>
		<div "col-1" id="completedGames">
			<h2>Completed</h2>
			<ul>
			{% for game in completed_games %}
			<li>{{game}}</li>	
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Follow Specific Games</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action='{{url_for('viewProfile',username=username)}}' method="POST">
	{% for game in games %}
	<div>
	{{game}}
	<label class="switch">
		{% if game in filtered %}
		<input type="checkbox" name="{{game}}" value="{{game}}"> 
		{% else %}
		<input type="checkbox" name="{{game}}" value="{{game}}" checked> 
		{% endif %}
		<span class="slider"></span>
	</label>
	</div>
	{% endfor %}
	<button type="submit" class="btn btn-primary">Save</button>
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Following</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<ul>
	{% for follow in profile_following %}
	<li><a href="{{url_for('viewProfile', username=follow)}}">{{follow}}</a></li> 
	{% endfor %}
	</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<ul>
	{% for follower in profile_followers %}
	<li><a href="{{url_for('viewProfile', username=follower)}}">{{follower}}</a></li> 
	{% endfor %}
	</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
